/* Variables */

$color-vinted-green: #09b0ba;
$color-grey-white: #f5f6f7;
$color-greyLight: #bababa;
$color-greyDark: rgb(153, 153, 153);
$color-greyDarkBack: rgba(153, 153, 153, 0.8);
$color-background-offer: #eaedee;
$fontMaison: "Maison Neue";
/* Global rules */

body {
  font-family: $fontMaison;
}

.contain {
  max-width: 1350px;
  margin: 0 auto;
}
h2 {
  font-size: 34px;
}
a {
  color: black;
  text-decoration: none;
}
/* Header */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  img {
    width: 120px;
  }
  .containSearch {
    display: flex;
    flex-direction: column;
    .priceChois {
      margin-top: 10px;
      display: flex;
      align-items: center;
      span {
        margin-right: 5px;
        flex-shrink: 0;
      }
      .range {
        display: flex;
        align-items: center;
        width: 65%;
        margin: 0 10px;
        span {
          margin-right: 15px;
        }
      }
    }
  }
  .searchLabel {
    position: relative;
    .searchIcon {
      position: absolute;
      left: 5px;
      top: 10px;
      color: $color-greyDark;
    }
    input {
      width: 40vw;
      padding: 10px 25px;
      background-color: $color-grey-white;
      border: none;
      outline: none;
      font-family: $fontMaison;
      font-size: 16px;
      border-radius: 5px;
    }
  }
  nav {
    display: flex;
  }
  button {
    width: 110px;
    height: 30px;
    border: solid 2px $color-vinted-green;
    border-radius: 10px;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    background-color: #fff;
    color: $color-vinted-green;
  }

  .buttonLogin {
    margin-right: 20px;
  }

  .buttonSell button {
    color: white;
    background-color: $color-vinted-green;
    margin-left: 20px;
  }

  .buttonDisconnection {
    background-color: lightcoral;
    color: white;
    border: none;
    margin-right: 15px;
    outline: none;
  }
}
/* Checkbox toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  outline: none;
}
.switch input {
  position: absolute;
  top: -99999px;
  left: -99999px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-vinted-green;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  position: absolute;
  content: "⇡";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: $color-vinted-green;
}
input:focus + .slider {
  box-shadow: 0 0 1px $color-vinted-green;
}
input:checked + .slider:before {
  content: "⇣";
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Home */

.home {
  .headHome {
    position: relative;
    .headSell {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 25vw;
      height: 250px;
      background-color: white;
      border-radius: 5px;
      padding: 25px;
      position: absolute;
      top: 90px;
      left: 70px;
    }
    button {
      height: 45px;
      width: 185px;
      background-color: $color-vinted-green;
      color: white;
      border-radius: 5px;
      border: none;
      font-size: 16px;
    }
    .pictureBack {
      width: 98%;
      height: 500px;
      background-position: center;
      background-size: cover;
      background-image: url("./images/fond_header.jpg");
      position: relative;
      img {
        position: absolute;
        bottom: -2px;
      }
    }
  }
  .paging {
    margin: 20px 0 10px 20px;
    font-size: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    span {
      margin-right: 10px;
    }
    .pageNumbers {
      display: flex;
      .pageNumber {
        font-size: 24px;
        padding: 0 5px;
        margin-right: 5px;
        background-color: white;
        border: solid 1px $color-vinted-green;
        border-radius: 10px;
        cursor: pointer;
      }
      .currentPage {
        color: white;
        background-color: $color-vinted-green;
      }
    }
  }
  .limitOfferPage {
    margin-left: 30px;
    input {
      border: solid 1px $color-vinted-green;
      border-radius: 5px;
      margin-left: 10px;
      outline: none;
    }
  }
  .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .article {
      display: flex;
      flex-direction: column;
      margin: 20px 10px 0 0;
      img {
        width: 240px;
        height: 360px;
        object-fit: cover;
      }
      .detail {
        color: $color-greyLight;
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
}

/* offer */
.contentOffer {
  height: 100vw;
  background-color: $color-background-offer;
  .offer {
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    img {
      max-width: 70%;
    }
    .col-2 {
      display: flex;
      flex-direction: column;
      width: 320px;
      padding: 40px;
      background-color: white;
      .priceArticle {
        font-size: 24px;
        margin-bottom: 30px;
      }
      .offerDetails {
        display: flex;
        flex-direction: column;
        flex: 1;
        li {
          display: flex;
          justify-content: space-between;
          margin-bottom: 5px;

          div {
            flex: 1;
            color: $color-greyLight;
          }
          div:last-child {
            color: black;
            flex: 0.6;
          }
        }
        li:last-child {
          margin-bottom: 30px;
        }
      }
    }
    .byIt {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      padding-top: 20px;
      border-top: solid 2px $color-greyLight;
      p {
        font-size: 22px;
        color: $color-greyDark;
        margin-top: 20px;
      }
      .author {
        font-weight: bold;
        margin: 50px 0;
        .avatar {
          border-radius: 50%;
          width: 50px;
          height: 50px;
        }
      }
      button {
        border-radius: 5px;
        color: white;
        background-color: $color-vinted-green;
        border: none;
        padding: 10px;
        font-size: 18px;
        cursor: pointer;
      }
    }
  }
}
/* Signup and login modals */
.containModal {
  overflow: scroll;
  width: 100vw;
  height: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: $color-greyDarkBack;
}
.modal {
  background-color: white;
  border: 2px solid $color-greyLight;
  position: relative;
  overflow: visible;
  width: 370px;
  top: 50px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;

  .iconCloseModal {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 48px;
  }
  label {
    width: 100%;
    input {
      box-sizing: border-box;
      width: 100%;
      margin: 20px 0;
      padding: 10px;
      border: none;
      background-color: white;
      border-bottom: solid 1px $color-greyDark;
      font-size: 18px;
      text-decoration: none;
      outline: none;
    }
  }
  .newLetter {
    display: flex;
    flex-direction: column;
    .title {
      display: flex;
      align-items: center;
      font-size: 24px;
      margin: 20px 0;
      input {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
      input:after {
        background-color: $color-vinted-green;
      }
    }
    p {
      margin-bottom: 20px;
    }
  }
  .toggleLoginSignup {
    text-align: center;
    color: $color-vinted-green;
    cursor: pointer;
  }
  button {
    width: 100%;
    color: white;
    background-color: $color-vinted-green;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  a {
    color: $color-vinted-green;
    text-align: center;
  }
  .inputPassword {
    position: relative;
    .iconPassword {
      position: absolute;
      right: 5px;
      bottom: 30px;
    }
  }
}

/* Media queries */

@media (max-width: 1024px) {
  /* Global */

  .contain {
    width: 95vw;
  }

  header {
    input {
      max-width: 30vw;
    }
    .buttonLogin {
      margin-right: 10px;
    }
    .buttonSell button {
      margin-left: 0px;
    }
  }
}

@media (max-width: 800px) {
  /* header */
  header nav {
    flex-direction: column;
    div:not(last-child) {
      margin-bottom: 6px;
    }
  }
  /* home */
  .headHome {
    .headSell {
      width: 25vw;
      height: 75px;
      h2 {
        font-size: 28px;
      }
      button {
        width: 100%;
      }
    }
  }
}
/* test range */
