/* import font */
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;400;700&display=swap");

/* Variables */
$font-gothic: "Gothic A1", sans-serif;

/* Global rules */

body {
  font-family: $font-gothic;
}

.contain {
  max-width: 90vw;
  margin: 0 auto;
}
h2 {
  font-size: 34px;
}
a {
  color: black;
  text-decoration: none;
}

/* Media queries */

@media (max-width: 1024px) {
  /* Global */

  .contain {
    width: 95vw;
  }

  header {
    input {
      max-width: 30vw;
    }
    .buttonLogin {
      margin-right: 10px;
    }
    .buttonSell button {
      margin-left: 0px;
    }
  }
}

@media (max-width: 800px) {
  /* header */
  header nav {
    flex-direction: column;
    div:not(last-child) {
      margin-bottom: 6px;
    }
  }
  /* home */
  .headHome {
    .headSell {
      width: 25vw;
      height: 75px;
      h2 {
        font-size: 28px;
      }
      button {
        width: 100%;
      }
    }
  }
}
